*.code-workspace

# Local History for Visual Studio Code
.history/

.idea

node_modules/
tools/dist/

html5

web/c_images
web/camera
web/dcr
web/game
web/gamedata
web/gordon
web/js/ruffle/*
web/Habbo.swf
!web/js/ruffle/.gitkeep